[submodule "EdgeNode"]
	path = EdgeNode
	url = https://github.com/ZeroTrustNetworkWWU/EdgeNode
[submodule "TrustEngine"]
	path = TrustEngine
	url = https://github.com/ZeroTrustNetworkWWU/TrustEngine
[submodule "PythonAPI"]
	path = PythonAPI
	url = https://github.com/ZeroTrustNetworkWWU/PythonAPI
[submodule "AdminGUI"]
	path = AdminGUI
	url = https://github.com/ZeroTrustNetworkWWU/AdminGUI
